#display-chat-messages {
    background-color: #948F8F;
    margin: 2% auto 2% auto;
    height: 300px;
    padding: 5px 5px 5px 5px;
    width: 60%;
    border: 1px solid #B1AEAE;
    font-size: 17px;
    overflow: scroll;
    text-align:left;
}

#trial-version-link {
    margin: 2% auto 2% auto;
    text-align:center;
}

#trial-version-link a {
    font-weight: bold;
    color: #4ab2f1;
}

#net-info {
    font-family: cursive;
    font-size: 13px;
    color:white;
}

#information {
    width: 60%;
    margin: 0% auto 3% auto;
}
#display-chat-info{
	float: left;
	font-style: italic;
}
#display-chat-error{
    float: right;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    background-color: #C93939;
    padding: 0px 1px;
}

div.message-block {
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 10px;
}

span.sender {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    float:left;
}

span.message-text {
    font-family: cursive;
    font-size: 13px;
    word-wrap:break-word;
    unicode-bidi:isolate;
}

span.createdOn {
    font-family: -webkit-pictograph;
    font-size: 11px;
    float:right;
}

.my-chats td {
    min-width: 50px;
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
}

.my-chats th {
    border: 1px solid #ddd;
    background: #eee;
    padding: 10px;
    white-space: nowrap;
    color: inherit;
}

.my-chats {
    margin: 0 0 20px;
}

.unread-message {
    font-weight: bold;
}

.conversation-link {
    min-width: 140px;
    border: none;
    background-color: #4ab2f1;
    padding: 10px 30px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

    .conversation-link:hover {
        background: #344E5F;
    }


.chat-selectors {
    margin: 0 0 20px;
    text-align: center;
    padding: 0 0 20px;
    border-bottom: 1px solid #a12;
    border-color: #aa1122;
}

    .chat-selectors:after {
        content: ".";
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        line-height: 0;
        font-size: 0;
    }

    .chat-selectors > div {
        display: inline-block;
        margin: 5px;
    }

.chat-grid, .chat-list {
    margin: 0 0 20px;
}

    .item-grid:after,
    .chat-grid:after,
    .chat-list:after {
        content: ".";
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        line-height: 0;
        font-size: 0;
    }

.chat-item {
    border-bottom: 1px solid #a12;
}

.chat-box .chat-item {
    position: relative;
    z-index: 1;
    padding: 0 0 15px;
    border-bottom: 1px dashed #a12;        
}

.chat-box {
    position: relative;
    width: 300px;
    max-width: 100%;
    margin: 0 auto 40px;
    text-align: center;    
}

    .chat-box:last-child {
        padding: 0;
        border: 0;
    }

.chat-buttons-box {
    /*border-top: 1px solid #a12;*/
    margin: 10px 50px;
}

    .chat-buttons-box .chat-button {
        margin-top: 10px;
        border: 1px solid #ddd;
        padding: 7px 14px;
        background: #eee;
        color: #333;
        font-size: 13px;
    }

@media (min-width: 981px) {

    .chat-list .chat-box {
        width: 100%;
        float: none;
        margin: 0 0 20px;
        border: none !important;
        text-align: left;
    }
    .chat-box {
        width: 33%;
        float: left;
        margin: 0 0 1.5% .5%;
        border: 1px solid transparent;
    }

    .chat-buttons-box .chat-button :hover {
        background-color: #f6f6f6;
        background: #f6f6f6;
    }
}


@media (min-width: 769px) {

    .chat-selectors {
        text-align: left;
    }

        .chat-selectors > div {
            margin: 0 10px 0 0;
        }

    .chat-list .chat-box {
        float: none;
        width: auto;
        margin: 0 5px 20px;
    }

    .chat-box {
        width: 32%;
        margin: 0 0 2% 2%;
    }
}

@media (min-width: 481px) {
    .chat-box {
        float: left;
    }
}
